# Python virtual environment & jupyter notebook checkpoints
.venv/
.ipynb_checkpoints/

# Scratch files for testing or hardware related data
*scratch/*
*tmp/*

# macOS system files
.DS_Store

# VS Code settings
.vscode/